alembic
aiosqlite
argon2-cffi
faiss-cpu
fastapi
apscheduler
gguf
html2text
httpx
jinja2
huggingface-hub
llama-cpp-python
markdown
numpy
openpyxl
pdfminer.six
Pillow
pypdfium2
prometheus-client
passlib[argon2]
peft
psycopg[binary]
pydantic
PyMuPDF
pypdf
pytest-postgresql
pytesseract
python-docx
python-dotenv
python-jose[cryptography]
python-multipart
python-pptx
qdrant-client
sentencepiece
sentence-transformers
safetensors
transformers
SQLAlchemy
sqlmodel
tiktoken
uvicorn[standard]
